<ion-navbar *navbar>
    <ion-buttons start>
        <button>
            <ion-icon padding name="pulse"></ion-icon> <span>Recipes</span>
        </button>
    </ion-buttons>

    <ion-buttons end>
        <button (click)="addCuisineModal()">
            <ion-icon padding name="add-circle"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content>
    <div *ngIf="readyCuisineSpin">
        <ion-list>
            <ion-item>
                <ion-thumbnail item-left>
                  <img src="https://www.qykapp.com/article/content/images/2015/09/food.jpg">
                </ion-thumbnail>
                <h2>Kaju Kari</h2>
                <p>Hayao Miyazaki • 1988</p>
                <button clear item-right>View</button>
            </ion-item>

            <ion-item>
                <ion-thumbnail item-left>
                  <img src="http://imgcdn.raagalahari.com/jan2013/local/punjabi-food-festival-hotel-golden-park/punjabi-food-festival-hotel-golden-park1t.jpg">
                </ion-thumbnail>
                <h2>Panner Tika</h2>
                <p>Hayao Miyazaki • 1988</p>
                <button clear item-right>View</button>
            </ion-item>

            <ion-item>
                <ion-thumbnail item-left>
                  <img src="http://imgcdn.raagalahari.com/jan2013/local/punjabi-food-festival-hotel-golden-park/punjabi-food-festival-hotel-golden-park7t.jpg">
                </ion-thumbnail>
                <h2>Panner Handi</h2>
                <p>Hayao Miyazaki • 1988</p>
                <button clear item-right>View</button>
            </ion-item>

            <ion-item>
                <ion-thumbnail item-left>
                  <img src="http://imgcdn.raagalahari.com/jan2013/local/punjabi-food-festival-hotel-golden-park/punjabi-food-festival-hotel-golden-park22t.jpg">
                </ion-thumbnail>
                <h2>Panner Kadai</h2>
                <p>Hayao Miyazaki • 1988</p>
                <button clear item-right>View</button>
            </ion-item>

        </ion-list>
    </div>

    <div class="ic-spinner-block" *ngIf="!readyCuisineSpin">
        <ion-spinner icon="ripple" class="spinner-assertive ic-spinner"></ion-spinner>
    </div>
</ion-content>
